*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: #fff;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
}

.contenedor{
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
}

/* Quitar barra desplazamiento */
::-webkit-scrollbar { display: none; }

/*---------Header-------------*/
header{
	background: url("../img/teclado.jpg"), linear-gradient(to bottom,rgb(0, 0, 0), rgb(255, 255, 255));
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	min-height: 650px;
	max-height: 1000px;
}

header .menu{
	margin: 40px 0;
	text-align: right;
	background: transparent;
}
header .menu a{
	margin: 0 10px 15px;
	color: #fff;
	padding: 3px;
	display: inline-block;
	text-decoration: none;
	border: 3px solid transparent;
	font-size: 1.5em;
}

header .menu a:hover{
	border-bottom: 3px solid rgba(255, 255, 255, 1.0);
	transform: translateY(-10px);
	transition: 0.6s ease;

}

header .menu #Download{
	background-color: transparent;
	color: #ffffff;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 20px;
	padding: 5px 10px;
}

header .menu #Download:hover{
	backdrop-filter: blur(5px);
	transition: 1.5s;
}

header .contenedor-texto{
	display: flex;
	margin: 180px 0;
	justify-content: center;
	align-content: center;
}

header .contenedor-texto .texto{
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50px;
	border-bottom: 0;
	border-top: 3px solid rgba(255, 255, 255, 0.7);
	display: inline-block;
	text-align: center;
	padding: 20px 60px;
	transition: 1.2s ease-in-out;
}

header .contenedor-texto .texto:hover{
	border-top: 3px solid rgba(255, 255, 255, 0.7);
	border-bottom: 3px solid rgba(255, 255, 255, 0.7);
	border-right: 0;
	border-left: 0;
	backdrop-filter: blur(5px);
	transition: 1.2s ease-in-out;
}

header .contenedor-texto h1,
header .contenedor-texto h2{
	color: #fff;
	margin: 0;
}

header .contenedor-texto .texto .nombre{
	margin-bottom: 18px;
	font-size: 40px;
	line-height: 50px;
	font-weight: 700;
}

header .contenedor-texto .texto .profesion{
	font-size: 25px;
	line-height: 25px;
	font-weight: 500;
}


/*---------------MAIN----------------*/
.main .acerca-de{
	text-align: center;
	padding-bottom: 250px;
}

.main .contenedor{
	overflow: visible;
}

.main .acerca-de .foto{
	margin-top: -100px;
}

.main .acerca-de .foto img{
	border-radius: 50%;
	vertical-align: top;
	border: 5px solid rgba(255, 255, 255, 1.0);
	transition: 0.6s;
}

.main .acerca-de .foto img:hover{
	transform: scale(1.1);
	transition: 0.6s ease-in;
}

.main .acerca-de .texto{
	color: #000;
	font-weight: 300;
	font-size: 22px;
	line-height: 40px;
	width: 80%;
	margin: 80px auto 100px auto;
	z-index: 3;
}

.main .acerca-de .texto .titulo{
	color: #4c2761;
	font-weight: 400;
	font-size: 35px;
	line-height: 60px;
	z-index: 3;
}

.main .acerca-de .texto .bold{
	color: #4c2761;
	position: relative;
	font-weight: 500;
	font-style: italic;
	z-index: 3;
}

.main .acerca-de .texto .writting1::after{
	content: "";
	background: #ffffff;
	border-left: 3px solid #000;
	right: 0;
	width: 100%;
	height: 120%;
	position: absolute;
	animation: maquinaescribir 5s infinite alternate steps(30);
}

.main .acerca-de .texto .writting2::after{
	content: "";
	background: #ffffff;
	border-left: 3px solid #000;
	right: 0;
	width: 100%;
	height: 120%;
	position: absolute;
	animation: maquinaescribir 5s infinite alternate steps(9);
}

.main .acerca-de .texto .writting3::after{
	content: "";
	background: #ffffff;
	border-left: 3px solid #000;
	right: 0;
	width: 100%;
	height: 120%;
	position: absolute;
	animation: maquinaescribir 5s infinite alternate steps(27);
}

.main .acerca-de .texto .writting4::after{
	content: "";
	background: #ffffff;
	border-left: 3px solid #000;
	right: 0;
	width: 100%;
	height: 120%;
	position: absolute;
	animation: maquinaescribir 5s infinite alternate steps(39);
}

.main .acerca-de .texto .writting5::after{
	content: "";
	background: #ffffff;
	border-left: 3px solid #000;
	right: 0;
	width: 100%;
	height: 120%;
	position: absolute;
	animation: maquinaescribir 5s infinite alternate steps(27);
}

@keyframes maquinaescribir {
	from{
		width: 0;
	}
	to{
		width: 100%;
	}
}

.contenedorCV{
	width: 100%;
	height: 50px;
	margin-top: -35px;
	
}

.main .acerca-de .contenedorCV #downloadresume{
	position: relative;
	background: #ffffff;
	color: #ffffff;
	display: inline-block;
	border: 2px solid #000;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 20px;
	width: 250px;
	height: 100%;
	z-index: 2;
	transition: all 0.6s ease;
	overflow: hidden;

}

.main .acerca-de .contenedorCV #downloadresume::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #4a0230;
	z-index: -2;
}

.main .acerca-de .contenedorCV #downloadresume::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 250px;
	left: 0;
	bottom: -150%;
	border-radius: 30%;
	background: #000000;
	z-index: -1;
}

.main .acerca-de .contenedorCV #downloadresume:hover::before{
	animation: btn-download 2s linear both;
}

@keyframes btn-download{
	0%{
		transform: rotate(0deg);
	}
	100%{
		bottom: 100px;
		transform: rotate(360deg);
	}
}

.main .trabajos{
	background-color: #1F082D;
	padding: 20px 0 20px 0;
	color: #fff;
	text-align: center;
	margin-bottom: 0px;
}

.main .trabajos .contenedor{
	overflow: hidden;
}

.main .trabajos .titulo{
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 60px;
}

.main .trabajos .contenedor-trabajos{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	/* justify-content: space-between; */
}

.main .trabajos .contenedor-trabajos .trabajo{
	width: 100%;
	margin-bottom: 20px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb{
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img{
	width: 100%;
	height: 220px;
	display: block;
	/* vertical-align: top; */
	border-radius: 10px;
}

.overlay1, .overlay2, .overlay3, .overlay4, .overlay5{
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	opacity: 0;
	z-index: 10;
	transition: 0.5s ease-in-out;
}

.trabajo .thumb:hover .overlay2{opacity: 0.9;border: 2px solid #540599;cursor: pointer;}
.trabajo .thumb:hover .overlay1{opacity: 0.9;border: 2px solid #540599;cursor: pointer;}
.trabajo .thumb:hover .overlay3{opacity: 0.9;border: 2px solid #540599;cursor: pointer;}
.trabajo .thumb:hover .overlay4{opacity: 0.9;border: 2px solid #540599;cursor: pointer;}
.trabajo .thumb:hover .overlay5{opacity: 0.9;border: 2px solid #540599;cursor: pointer;}

.main .trabajos .contenedor-trabajos .trabajo .descripcion{
	text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre{
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre:hover{
	color: #05cdac;
}

.main .skills{
	width: 100%;
	height: auto;
	min-height: 500px;
	background: #ffffff;
	margin: 0 0 50px 0;
}

.main .skills .tituloSkills{
	background: #ffffff;
	color: #4c2761;
	margin: 55px auto;
	text-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
}

.main .skills .iconosSkills{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 80%;
	margin: 0 auto 150px auto;
}

.main .skills .contenedor .iconosSkills .skill{
	width: 200px;
	height: 200px;
	text-align: center;
	font-size: 1.5em;
	margin-top: 20px;
}

.main .skills .contenedor .iconosSkills img{
	width: 130px;
	height: 140px;
	margin: 10px 20px;
}

.main .skills .contenedor .iconosSkills i{
	margin: 10px 20px;
	font-size: 150px;
}

.skillTXT{
	color: black;;
}

.html{color: #FF5733;}
.css{color: #5c79ea;}
.js{color: #f0db4f;}
.sass{color: #cc6699; font-size: 150px;}

.html:hover{
	transform: scale(1.1);
	transition: 0.2s;
}.css:hover{
	transform: scale(1.1);
	transition: 0.2s;}
.figma:hover{
	transform: scale(1.1);
	transition: 0.2s;
}.sass:hover{
	transform: scale(1.1);
	transition: 0.2s;
}.java:hover{
	transform: scale(1.1);
	transition: 0.2s;
}.php:hover{
	transform: scale(1.1);
	transition: 0.2s;
}.python:hover{
	transform: scale(1.1);
	transition: 0.2s;
}.bd:hover{
	transform: scale(1.1);
	transition: 0.2s;
}.chart:hover{
	transform: scale(1.1);
	transition: 0.2s;
}.git:hover{
	transform: scale(1.1);
	transition: 0.2s;
}.rd:hover{
	transform: scale(1.1);
	transition: 0.2s;
}.js:hover{
	transform: scale(1.1);
	transition: 0.2s;
}


/*------------------------------Footer--------------------------*/
footer .contacto{
	padding: 60px 0;
	width: 100%;
	background: #1F082D;
}

footer .contacto .titulo{
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 50px;
}

footer .contacto .formulario{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea{
	border: 2px solid #000000;
	border-radius: 5px;
	padding: 15px 20px;
	color: #7411AD;
	font-size: 20px;
	outline: 0;
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus{
	border: 3px solid #8f2ccc;
	z-index: 10;
	box-shadow: 15px 15px 10px#000000;
	transform: scale(1.01);
	transition: 0.3s ease-in-out;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
	width: 95%;
	margin: 0 auto;
	margin-bottom: 15px;
	display: inline-block;
}

footer .contacto .formulario textarea{
	width: 95%;
	margin: 0 auto 15px auto;
	height: 100px;
	min-width: 95%;
	max-width: 95%;
	min-height: 200px;
	max-height: 300px;
}

footer .contacto .formulario .error{
	display: none;
	width: 90%;
	margin: 10px auto 0 auto;
	border-radius: 3px;
	background: #060221;
	color: #fff;
	padding-left: 40px;
}

footer .contacto .formulario input[type="submit"]{
	margin: 40px auto;
	background-color: #4C2761;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 15px 100px;
	cursor: pointer;
}

footer .contacto .formulario input[type="submit"]:hover{
	background-color: #7500B8;
}

footer .redes{
	background-color: #1F082D;
	padding: 60px 0;
}

footer .redes .contenedor{
	display: flex;
	justify-content: space-around;
	margin: -89px auto;
	height: auto;

}

footer .redes a{
	background-color: rgba(255, 255, 255, 0.1);
	color: #fff;
	text-align: center;
	width: 65px;
	height: 65px;
	display: block;
	padding: 15px 0;
	border-radius: 50%;
	backdrop-filter: blur(15px);
	font-size: 30px;
	margin: 0 20px;
}

footer .redes .instagram:hover{background-color: #e1306c;transition: 0.8s ease-in-out;}
footer .redes .facebook:hover{background-color: #1877f2;transition: 0.8s ease-in-out;}
footer .redes .github:hover{background-color: #6e5494;transition: 0.8s ease-in-out;}
footer .redes .linkedin:hover{background-color: #0077b5;transition: 0.8s ease-in-out;}

/*------------------MEDIA QUERIES----------------------------*/
@media screen and (max-width: 850px){
	header .menu{
		text-align: center;
		margin-bottom: 30px;
	}
	.main .trabajos .contenedor-trabajos{
		display: flex;
		flex-wrap: wrap;
	}
	.main .trabajos .contenedor-trabajos .trabajo{
		width: 100%;
	}
	.main .trabajos .contenedor-trabajos .trabajo .thumb img{
		width: 100%;
		min-height: 250px;
	}
	header{
		background-size: cover;
	}
}

@media screen and (max-width: 500px){
	header .contenedor-texto .texto .nombre{
		font-size: 35px;
	}
	header .contenedor-texto .texto .profesion{
		font-size: 18px;
	}
	footer .redes a{
		width: 35px;
		height: 35px;
		font-size: 20px;
		padding: 5px 0;
	}
	footer .redes .contenedor{
		margin: -79px auto;
	}
	header{
		background-size: cover;
	}
	.main .acerca-de .texto .writting1::after{
		height: 125%;
	}
	.main .acerca-de .texto .writting2::after{
		height: 125%;
	}
	.main .acerca-de .texto .writting3::after{
		height: 125%;
	}
	.main .acerca-de .texto .writting4::after{
		height: 125%;
	}
	.main .acerca-de .texto .writting5::after{
		height: 125%;
	}
	.main .acerca-de .texto{
		font-size: 15px;
		line-height: 30px;
		width: 100%;
		margin: 80px auto 100px auto;
	}
}
